@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
    background: linear-gradient(270deg, #570CD5, #C67EFF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.text-gradient:hover {
    color: #FFFFFF;
    background-clip: text;
    -webkit-background-clip: text;
    background: linear-gradient(270deg, #570CD5, #C67EFF);
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@layer components {
    .stroke-green {
        stroke: green;
    }

    .rotating {
        @apply transition-all duration-1000 ease-linear;
        transform-origin: center center;
        animation: rotating 1.4s linear infinite;
    }

    .success circle,
    .success path {
        @apply stroke-green;
        stroke-dashoffset: 0;
    }

    @keyframes rotating {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}